<h2 class="center">Welcome to <%= @user.full_name %>'s Page</h2>
<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
    </div>
    <div class="col-md-4 col-md-offset-4 center">
    <h4 align="center"><%= @user.full_name %>'s articles</h4>
    </div>
</div>
<div class="center">
    <%= will_paginate @user_articles %>
</div>
<% # if @user.articles is used then it will getch all. pagination don't work %>
<%= render 'articles/articles', obj: @user_articles %>
<div class="center">
    <%= will_paginate @user_articles %>
</div>
