<h2 align="center">List of articles in <%= @category.name %></h2>
<% if logged_in? and current_user.admin? %>
    <div class="row" align="center">
        <span class="badge"><%= link_to "Edit category name", edit_category_path %></span>
    </div>
<% end %>
<div class="center">
    <%= will_paginate @category_articles %>
</div>
<% # if @user.articles is used then it will getch all. pagination don't work %>
<%= render 'articles/articles', obj: @category_articles %>
<div class="center">
    <%= will_paginate @category_articles %>
</div>
